<footer class="page-footer <%- site.footclr %> darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text"><%= site.footertitle %></h5>
                    <p class="grey-text text-lighten-4">
                        <%= site.footercontent %>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <%= site.footercorp %>
            </div>
        </div>
    </footer>
